<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<nav>
		<a href="/performers/new">ADD PERFORMER</a>
		<a href="/tv/new">ADD SHOW</a>
		<a href="/tv">ALL TV</a>
	</nav>
	<main>
		<p>Please first ensure that the Actor is not in the dropdown
			<select>
				<% performers.forEach(function(p) { %>
					<option>
						<%= p.name %>
					</option>
					<% }) %>
			</select>
		</p>
		<form id="add-performer-form" action="/performers" method="POST">
			<label>Name:</label>
			<input type="text" name="name">
			<label>Born:</label>
			<input type="date" name="born">
			<input type="submit" value="Add Performer">
		</form>
	</main>

</body>

</html>