<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<nav>
		<a href="/tv">ALL TV</a>
		<% if (user) { %>
		  <a href="/performers/new"	>
			  ADD CAST</a>
		  <a href="/tv/new" >ADD TV SHOW</a>
		  <a href="/logout">LOG OUT</a>
		<% } else { %>
		  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
		<% } %>
	  </nav>
	<main>
	<table id="list">
		<thead>
		  <tr>
			<th>Title</th>
			<th>Release<br>Year</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
		  <% tvDocs.forEach(function(m) { %>
			<tr>
			  <td><%= m.title %></td>
			  <td><%= m.releaseYear %></td>
			  <td><a href="/tv/<%= m._id %>">DETAILS</a></td>
			</tr>
			<% }); %>
		  </tbody>
		
		</table>
		
	</main>
</body>

</html>